@import '../../assets/scss/variables';
  
.top-header {
    margin-top: 14px;
    padding-bottom: 14px;
    width: 75%;
    border-bottom: 1px solid $border-color;
    p {
        font-size: $small-text;
    }
    
    .sep {
        top: 3px;
        width: 2px;
        height: 12px;
        background-color: $sep-color;
    }
}