<section class="d-flex justify-content-between top-header mx-auto">
    <div class="d-flex gap-18">
        <p class="fw-bold">Welcome to VK travel agency</p>
        <div class="sep position-relative"></div>
        <p class="fw-bold">Language: English</p>
        <div class="sep position-relative"></div>
        <p class="fw-bold">Currency :   (USD)</p>
    </div>

    <div class="d-flex gap-18 links">
        <p class="fw-bold cursor-pointer">Login / Register</p>
        <div class="sep position-relative"></div>
        <p class="fw-bold cursor-pointer"><span class="material-icons">favorite</span> Wishlist</p>
        <div class="sep position-relative"></div>
        <p class="fw-bold cursor-pointer"><span class="material-icons">shopping_cart</span> Cart</p>
        <div class="sep position-relative"></div>
        <p id="theme-toggle" class="fw-bold cursor-pointer dark-mode" (click)="toggleButton()"></p>
    </div>
</section>