$primary-color: #fdb714;
$sec-color: #28272f;
$white-color: #fff;
$black-color: #000000;

$gray-color-dark: #939397;
$sec-switch: #3e3c49;
$sup-text: #686868;
$sep-color: #222;
$border-color: #e5e5e5;
$country-name: #fefefe;
$button-border: #d6d6d6;

$h1: 30px;
$small-text: 12px; 