$primary-color: #fdb714;
$sec-color: #28272f;
$white-color: #fff;
$black-color: #000000;

$gray-color-dark: #939397;

$sep-color: #222;
$border-color: #e5e5e5;

$h1: 30px;
$small-text: 12px;