<h3 class="text-center">MOST POPULAR PLACES</h3>
<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a suscipit quam, ut vestibulum lorem.</p>

<div class="sep d-center"></div>

<div class="max-container-body">
<mat-tab-group>
    <mat-tab label="ALL">
      
      <section class="column-container">
        <div class="column-row">
      <div class="column-md-4 p-start-0">
        <section class="country">
             <div class="country__pic">
              <p class="country__pic--name">Istanbul, Turkey</p>
              <p class="country__pic--sub">START FROM $375.00</p>
              <section class="d-flex">
                 <div class="d-center w-100 b-e">TOP RATES</div>
                 <div class="d-center w-100">HOTELS DEALS</div> 
              </section>
             </div>
             <div class="country__review d-flex">
              <span class="material-icons">pin_drop</span>
              <div>
                <h5>Istanbul Trip</h5>
                <p>1270 Reviews</p>
              </div>
              <app-star-rating></app-star-rating>
             </div>
             <div class="country__review d-flex border-top-0">
              <span class="material-icons">pin_drop</span>
              <div>
                <h5>Istanbul Trip</h5>
                <p>1270 Reviews</p>
              </div>
              <app-star-rating></app-star-rating>
             </div>
             <div class="country__more d-center border-top-0">
              More
              <span class="material-icons">double_arrow</span>
            </div>
        </section>

      </div>
      <div class="column-md-4">
        <section class="country">
          <div class="country__pic">
           <p class="country__pic--name">Istanbul, Turkey</p>
           <p class="country__pic--sub">START FROM $375.00</p>
           <section class="d-flex">
              <div class="d-center w-100 b-e">TOP RATES</div>
              <div class="d-center w-100">HOTELS DEALS</div> 
           </section>
          </div>
          <div class="country__review d-flex">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__review d-flex border-top-0">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__more d-center border-top-0">
           More
           <span class="material-icons">double_arrow</span>
         </div>
     </section>
      </div>
      <div class="column-md-4">
        <section class="country">
          <div class="country__pic">
           <p class="country__pic--name">Istanbul, Turkey</p>
           <p class="country__pic--sub">START FROM $375.00</p>
           <section class="d-flex">
              <div class="d-center w-100 b-e">TOP RATES</div>
              <div class="d-center w-100">HOTELS DEALS</div> 
           </section>
          </div>
          <div class="country__review d-flex">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__review d-flex border-top-0">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__more d-center border-top-0">
           More
           <span class="material-icons">double_arrow</span>
         </div>
     </section>
      </div>
      <div class="column-md-4">
        <section class="country">
          <div class="country__pic">
           <p class="country__pic--name">Istanbul, Turkey</p>
           <p class="country__pic--sub">START FROM $375.00</p>
           <section class="d-flex">
              <div class="d-center w-100 b-e">TOP RATES</div>
              <div class="d-center w-100">HOTELS DEALS</div> 
           </section>
          </div>
          <div class="country__review d-flex">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__review d-flex border-top-0">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__more d-center border-top-0">
           More
           <span class="material-icons">double_arrow</span>
         </div>
     </section>
      </div>
      <div class="column-md-4">
        <section class="country">
          <div class="country__pic">
           <p class="country__pic--name">Istanbul, Turkey</p>
           <p class="country__pic--sub">START FROM $375.00</p>
           <section class="d-flex">
              <div class="d-center w-100 b-e">TOP RATES</div>
              <div class="d-center w-100">HOTELS DEALS</div> 
           </section>
          </div>
          <div class="country__review d-flex">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__review d-flex border-top-0">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__more d-center border-top-0">
           More
           <span class="material-icons">double_arrow</span>
         </div>
     </section>
      </div>
      <div class="column-md-4">
        <section class="country">
          <div class="country__pic">
           <p class="country__pic--name">Istanbul, Turkey</p>
           <p class="country__pic--sub">START FROM $375.00</p>
           <section class="d-flex">
              <div class="d-center w-100 b-e">TOP RATES</div>
              <div class="d-center w-100">HOTELS DEALS</div> 
           </section>
          </div>
          <div class="country__review d-flex">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__review d-flex border-top-0">
           <span class="material-icons">pin_drop</span>
           <div>
             <h5>Istanbul Trip</h5>
             <p>1270 Reviews</p>
           </div>
           <app-star-rating></app-star-rating>
          </div>
          <div class="country__more d-center border-top-0">
           More
           <span class="material-icons">double_arrow</span>
         </div>
     </section>
      </div>
      <div class="column-md-12">
        <button class="btn-primary">More <span class="material-icons">double_arrow</span></button>
      </div>
    </div>
    </section>

    </mat-tab>
    <mat-tab label="USA">USA</mat-tab>
    <mat-tab label="CANADA">CANADA</mat-tab>
    <mat-tab label="EUROPE">EUROPE</mat-tab>
    <mat-tab label="INDIA">INDIA</mat-tab>
    <mat-tab label="CHAINA">CHAINA</mat-tab>
    <mat-tab label="SINGAPURE">SINGAPURE</mat-tab>
    <mat-tab label="USA & CANADA">USA & CANADA</mat-tab>
  </mat-tab-group>
</div> 