@import './assets/scss/styles';
@import './assets/scss/variables';
@import './assets/scss/fonts';

.menu-items {
    p {
        padding-inline: 14px;
        height: 24px;
        cursor: pointer;
        font-size: 12px;
        font-weight: bold;
        &:hover {
            background-color: $border-color;
        }
    }
}

body {
    .mat-mdc-tab {
        border: 1px solid $border-color;
        margin-inline: 5px;
        .mdc-tab-indicator__content--underline {
            border-color: $primary-color !important;
            height: 8px;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            justify-content: center;
            &::after {
                content: "\e5c7";
                font-family: "Material Icons";
                font-size: 24px;
                position: relative;
                top: -7px;
                color: $primary-color;
            }
        }
    }
    .mat-mdc-tab-body  {
            margin-top: 50px;
    }
}

.btn-primary {
    height: 39px;
    padding-inline: 27px;
    background-color: $primary-color;
    color: $white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    transition: all .3s;
    cursor: pointer;
    border: 0px;
    &:hover {
        background-color: $sec-color;
    }
    .material-icons {
        font-size: 18px;
        position: relative;
        top: 4px;
    }
}